<form method="POST" action="/login" class="form-inline">
  <input type="text" name="username" placeholder="Username" required class="form-control mr-2" />
  <button type="submit" class="btn btn-primary">Login</button>
</form>